
/trunk/Tools/PostBuild/bin
/trunk/Tools/PostBuild/obj
/trunk/Tools/Stump.Tools.Sniffer/bin
/trunk/Tools/Stump.Tools.Sniffer/obj
/trunk/BaseCore/Stump.BaseCore.Framework/obj
/trunk/BaseCore/Stump.BaseCore.Framework/bin
/trunk/Database/Stump.Database/obj
/trunk/Database/Stump.Database/bin
/trunk/Stump.suo
/trunk/DofusProtocol/Classes/bin
/trunk/DofusProtocol/Classes/obj
/trunk/DofusProtocol/D2oClasses/obj
/trunk/DofusProtocol/D2oClasses/bin
/trunk/DofusProtocol/Messages/obj
/trunk/DofusProtocol/Messages/bin
/trunk/DofusProtocol/Enums/obj
/trunk/DofusProtocol/Enums/bin
/trunk/GUI/Stump.GUI.AuthConsole/obj
/trunk/GUI/Stump.GUI.AuthConsole/bin
/trunk/GUI/Stump.GUI.WorldConsole/obj
/trunk/GUI/Stump.GUI.WorldConsole/bin
/trunk/Plugins/Stump.Plugins.DefaultPlugin/obj
/trunk/Plugins/Stump.Plugins.DefaultPlugin/bin
/trunk/Plugins/Stump.Plugins.IRC/obj
/trunk/Plugins/Stump.Plugins.IRC/bin
/trunk/Plugins/Stump.Plugins.Messenger/obj
/trunk/Plugins/Stump.Plugins.Messenger/bin
/trunk/ServerCore/Stump.Server.AuthServer/bin
/trunk/ServerCore/Stump.Server.AuthServer/obj
/trunk/ServerCore/Stump.Server.BaseServer/obj
/trunk/ServerCore/Stump.Server.BaseServer/bin
/trunk/ServerCore/Stump.Server.WorldServer/bin
/trunk/ServerCore/Stump.Server.WorldServer/obj
/trunk/Tools/Stump.Tools.Proxy/obj
/trunk/Tools/Stump.Tools.Proxy/bin

#
# VS Sulution user file
#
*.suo
*.user

